.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 4rem;
  padding-top: 0.75rem;
}

.navbar-logo-container {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  justify-content: center;
}

.navbar-logo-container .logo-main {
  object-fit: contain;
}

.navbar-logo-container .logo-text {
  font-family: Satoshi, sans-serif;
  font-weight: 600;
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
  letter-spacing: 0.025em;
  color: black;
}

.desktop-navigation {
  display: flex;
}

.desktop-navigation .desktop-links {
  display: flex;
  gap: 1.25rem;
}

.mobile-navigation {
  display: none;
  position: relative;
}

.mobile-navigation .mobile-links {
  display: flex;
}

.mobile-links .mobile-button {
  margin-top: 1.25rem;
  width: 100%;
}

@media (width<640px) {
  .navbar-logo-container .logo-text {
    display: none;
  }

  .desktop-navigation {
    display: none;
  }

  .desktop-navigation .desktop-links {
    gap: 0.75rem;
  }

  .mobile-navigation {
    display: flex;
  }
}
